
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<aside class="widget widget_text group">
					<div class="aside-container">
						<h4 class="widget-title">About US</h4>

						<div class="textwidget">
							<p>Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit.
								Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit
								amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra. Nulla facilisi. Duis
								aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus
								ornare ante, ac egestas est urna sit amet arcu. Curabitur vulputate, ligula lacinia scelerisque
								tempor.</p>
						</div>
					</div>
				</aside>
			</div>

			<div class="col-md-4">
				<aside class="widget widget_ci_flickr_widget group">
					<div class="aside-container">
						<h4 class="widget-title">Last Hotels</h4>

						<div class="f group">
							<script type="text/javascript"
											src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=random&amp;&amp;layout=x&amp;source=user&amp;user=12313997@N00&amp;size=s"></script>
						</div>
					</div>
				</aside>
			</div>

			<div class="col-md-4">
				<aside class="widget widget_socials_ignited group">
					<div class="aside-container">
						<h4 class="widget-title">Social Midia</h4>

						<div class="ci-socials-ignited ci-socials-ignited-fa">
							<a href="http://www.facebook.com/cssigniter"><i class="fa fa-facebook"></i></a>
							<a href="http://www.facebook.com/cssigniter"><i class="fa fa-twitter"></i></a>
							<a href="http://dribbble.com/tsiger"><i class="fa fa-dribbble"></i></a>
							<a href="http://www.flickr.com"><i class="fa fa-flickr"></i></a>
						</div>
					</div>
				</aside>

				<aside class="widget widget_text group">
					<div class="aside-container">
						<div class="textwidget">
							<p>
								CSSIgniter Info Str.<br/>
								63100<br/>
								California, SA<br/>
								Tel: +66 555-HOTEL-161
							</p>
						</div>
					</div>
				</aside>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 credits">
				<span>Visit.US</span>
			</div>
		</div>
	</div>
	<!-- .container -->
</footer>

</div>
<!-- #page -->
</body>
</html>
